---
import "./../styles/global.css";
import BackLink from "../components/BackLink.astro";

const { title, description, frontmatter } = Astro.props;

const defaultTitle = "Jacob Swanson";
function getPageTitle() {
    const pageTitle = title ?? frontmatter?.title;
    return pageTitle ? `${pageTitle} | ${defaultTitle}` : defaultTitle;
}
const pageTitle = getPageTitle();

const pageDescription = description ?? frontmatter?.description;

const isRootPage = Astro.url.pathname === "/";
---

<!doctype html>
<html lang="en" class="dark:bg-zinc-900">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="author" content="Jacob Swanson"/>
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <meta property="og:title" content={pageTitle} />
        {
            pageDescription && (
                <meta name="description" content={pageDescription} />
                <meta name="og:description" content={pageDescription} />
            )
        }
        <script
            defer
            data-api="/api/event"
            data-domain="jacob-swanson.com"
            src="/js/script.js"></script>
        <link rel="sitemap" href="/sitemap-index.xml" />
    </head>
    <body class="m-5">
        <main
            class="container mx-auto max-w-5xl
             prose dark:prose-invert prose-lg
             prose-h1:mb-0
             prose-li:m-0
             prose-ul:m-0
             prose-table:dark:text-current
             dark:prose-a:visited:text-zinc-400
             prose-a:visited:text-zinc-500"
            aria-label="Content"
        >
            {!isRootPage && <BackLink />}
            <slot />
        </main>
    </body>
</html>
